.main-section{
    display: flex;
}
.data-section{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 750px;
    border: 12px solid #50514f;
    border-radius: 10px;
}
.user-image-div{
    margin-left: 0px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #f25f5c;
}
.user-data-div{
    width: 70%;
    color: royalblue;
    background-color: #ffe066;
    margin-left: 0px;
    padding: 5px;
    padding-left:50px ;
}
.user-image-div img{
    height: 300px;
    width: 300px;
    border-radius:  50%;
}
.add-button{
    color: black;
    background-color: orangered;
    width: 180px;
    height: 45px;
    border-radius: 8px;

    font-size: 25px;
    font-weight: 700;
    
    cursor: pointer;
}