.header{
    text-align: center;
}
.header img{
    height: 150px;
    width: 700px;
    margin-top: 12px;
    margin-bottom: 5px;
}
nav{
    background-color: rgb(22, 93, 102);
    line-height: 60px;
    font-size: 35px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 25px;
    padding: 6.5px;
}
nav a:hover{
    background-color: rgb(173, 195, 174);
}
.search-area{
    background-color: teal;
    line-height: 67px;
}
.search-box{
    width: 60%;
    height: 30px;
    font-size: 25px;
}